<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="#" class="flex items-center mb-4 sm:mb-0">
        <span class="self-center text-xl whitespace-nowrap dark:text-white"
          >{{ .Site.Title }}</span
        >
      </a>
      <div
        class="flex items-center justify-center rounded-tr-lg rounded-bl-lg h-24 p-2 text-center"
      >
        <img
          class="h-10 w-auto mx-6"
          src="/images/rrchnm-logo.png"
          alt="Roy Rosenzweig Center for History and New Media"
          title="Roy Rosenzweig Center for History and New Media"
        />
        <img
          class="h-10 w-auto mx-6"
          src="/images/gmu-logo.png"
          alt="George Mason University"
          title="George Mason University"
        />
        <img
          class="h-10 w-auto mx-6"
          src="/images/neh-logo.jpg"
          alt="National Endowment for the Humanities"
          title="National Endowment for the Humanities"
        />
        <img
          class="h-10 w-auto mx-6"
          src="/images/ucla-logo.png"
          alt="University of California, Los Angeles"
          title="University of California, Los Angeles"
        />
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >CC-BY 2023-2024 {{ .Site.Title }}</span
    >
  </div>
</footer>

